.menu{
    background-color:  turquoise;
    text-align: center;
}

.navbar{
    background-color: grey;
}


.lista-nav{
    text-align: start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    
}

.click{
    text-align: center;
    
}