.color{
    margin-right: 150px;
    margin-top: 17px;
    margin-left: 199px;
}
.img-invierno{
    width: 250px;
    margin-left: 172px;
}
.img-verano{
    width: 250px;
}

.img-otoño{
    margin-left: 184px;
    
}
.tabla{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja, p{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 26px;
    
}

.caja1{
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}

.content1{
    align-items: center;
}

tr, th{
    border:1px solid black
}

h1 {
    align-items: center;
    
    border: 1px solid black;
}